In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
data = {
    'Country': ['China', 'India', 'Brazil'],
    'Capital': ['Beijing', 'New Delhi', 'Brasilia'],
    'Population': ['1432732201', '1303171635', '207847528']
}

## Series

In [7]:
s1 = pd.Series(data["Country"],index=["A","B","C"])

In [8]:
s1

A     China
B     India
C    Brazil
dtype: object

In [9]:
s1.values

array(['China', 'India', 'Brazil'], dtype=object)

In [10]:
s1.index

Index(['A', 'B', 'C'], dtype='object')

## DataFrame

In [11]:
df1 = pd.DataFrame(data)

In [12]:
df1

     Capital Country  Population
0    Beijing   China  1432732201
1  New Delhi   India  1303171635
2   Brasilia  Brazil   207847528

In [14]:
df1.columns

Index(['Capital', 'Country', 'Population'], dtype='object')

### 访问某一列

In [16]:
df1["Capital"]

0      Beijing
1    New Delhi
2     Brasilia
Name: Capital, dtype: object

### 访问某一行