In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
import webbrowser
link = "https://www.tiobe.com/tiobe-index/"
webbrowser.open(link)

True

In [6]:
df = pd.read_clipboard()

In [7]:
df

   Jun 2019  Jun 2018  Change Programming Language  Ratings Change.1
0         1         1     NaN                 Java  15.004%   -0.36%
1         2         2     NaN                    C  13.300%   -1.64%
2         3         4  change               Python   8.530%   +2.77%
3         4         3  change                  C++   7.384%   -0.95%
4         5         6  change    Visual Basic .NET   4.624%   +0.86%
5         6         5  change                   C#   4.483%   +0.17%
6         7         8  change           JavaScript   2.716%   +0.22%
7         8         7  change                  PHP   2.567%   -0.31%
8         9         9     NaN                  SQL   2.224%   -0.12%
9        10        16  change    Assembly language   1.479%   +0.56%

In [8]:
type(df)

pandas.core.frame.DataFrame

## 列名

In [9]:
df.columns

Index(['Jun 2019', 'Jun 2018', 'Change', 'Programming Language', 'Ratings',
       'Change.1'],
      dtype='object')

In [10]:
df.Ratings

0    15.004%
1    13.300%
2     8.530%
3     7.384%
4     4.624%
5     4.483%
6     2.716%
7     2.567%
8     2.224%
9     1.479%
Name: Ratings, dtype: object

In [12]:
df_new = DataFrame(df,columns=['Programming Language', 'Jun 2018'])

In [13]:
df_new

  Programming Language  Jun 2018
0                 Java         1
1                    C         2
2               Python         4
3                  C++         3
4    Visual Basic .NET         6
5                   C#         5
6           JavaScript         8
7                  PHP         7
8                  SQL         9
9    Assembly language        16

In [14]:
df["Jun 2019"]

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Jun 2019, dtype: int64

In [15]:
type(df["Jun 2019"])

pandas.core.series.Series

In [16]:
df_new = DataFrame(df,columns=['Programming Language', 'Jun 2018',"Jun 2020"])

In [17]:
df_new

  Programming Language  Jun 2018  Jun 2020
0                 Java         1       NaN
1                    C         2       NaN
2               Python         4       NaN
3                  C++         3       NaN
4    Visual Basic .NET         6       NaN
5                   C#         5       NaN
6           JavaScript         8       NaN
7                  PHP         7       NaN
8                  SQL         9       NaN
9    Assembly language        16       NaN

In [18]:
df_new["Jun 2020"] = range(10)

In [19]:
df_new

  Programming Language  Jun 2018  Jun 2020
0                 Java         1         0
1                    C         2         1
2               Python         4         2
3                  C++         3         3
4    Visual Basic .NET         6         4
5                   C#         5         5
6           JavaScript         8         6
7                  PHP         7         7
8                  SQL         9         8
9    Assembly language        16         9

In [22]:
df_new["Jun 2020"] = np.arange(0,20,2)

In [23]:
df_new

  Programming Language  Jun 2018  Jun 2020
0                 Java         1         0
1                    C         2         2
2               Python         4         4
3                  C++         3         6
4    Visual Basic .NET         6         8
5                   C#         5        10
6           JavaScript         8        12
7                  PHP         7        14
8                  SQL         9        16
9    Assembly language        16        18

In [24]:
df_new["Jun 2020"] = pd.Series(np.arange(10))

In [26]:
df_new

  Programming Language  Jun 2018  Jun 2020
0                 Java         1         0
1                    C         2         1
2               Python         4         2
3                  C++         3         3
4    Visual Basic .NET         6         4
5                   C#         5         5
6           JavaScript         8         6
7                  PHP         7         7
8                  SQL         9         8
9    Assembly language        16         9

In [27]:
df_new["Jun 2020"] = pd.Series([100,200],index=[1,2])

In [28]:
df_new

  Programming Language  Jun 2018  Jun 2020
0                 Java         1       NaN
1                    C         2     100.0
2               Python         4     200.0
3                  C++         3       NaN
4    Visual Basic .NET         6       NaN
5                   C#         5       NaN
6           JavaScript         8       NaN
7                  PHP         7       NaN
8                  SQL         9       NaN
9    Assembly language        16       NaN